*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: inherit;
	min-width: 1000px;
}

#touch-wrapper {
	display: none;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}

header {
	display: grid;
	grid-template-areas: "logo logo logo  head head head";
	padding: 1rem 1rem 0.5rem;
	background-color: #3b5998;
	color: #ffffff;
}
h1 {
	grid-area: logo;
	font-size: 2.5rem;
	font-family: "Open Sans", sans-serif;
	justify-self: center;
	font-weight: 700;
}

header form {
	grid-area: head;
	justify-self: center;
	font-family: "Lato", sans-serif;
	display: flex;
	flex-flow: row;
}

header form label {
	display: block;
	font-size: 0.83rem;
	width: 38.5%;
}

header label input:last-of-type {
	margin-bottom: 0.4rem;
}

header label:last-of-type::after {
	content: "Forgotten account?";
	color: #b5cddfb2;
	font-size: 0.8rem;
}

header form label span {
	display: block;
	margin-bottom: 0.4rem;
}

header label input {
	padding: 0.15rem 0.4rem;
	border: none;
	width: 93%;
	display: inline-block;
}

header label input:focus-within {
	background-color: #fff8c5;
}

header button {
	align-self: center;
	background-color: #4267b2;
	border: 0.5px solid #243a6b;
	color: #ffffff;
	padding: 0.15rem 0;
	width: 10%;
}

header button:hover,
header button:active {
	background-color: #3b5998;
}

/* main section */
main {
	display: grid;
	grid-template-areas: "intro intro intro register register register";
	background: #b1b1db;
	background: linear-gradient(to bottom, #ffffff 5%, #e3e4e8 50%, #d4d9eb 75%);
}

main section:first-of-type {
	grid-area: intro;
	padding: 3rem 0;
	display: flex;
	flex-flow: column;
}

main section:first-of-type p {
	color: #0e385f;
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 600;
	font-size: 1.16rem;
	align-self: center;
	line-height: 2rem;
}

main section:first-of-type img {
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
}

main section:last-of-type {
	grid-area: register;
}

main section:last-of-type form {
	max-width: 61%;
}

main section:last-of-type h3 {
	color: #333333;
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 700;
	font-size: 2.1rem;
	padding: 1.3rem 0 0 0.5rem;
}

main section:last-of-type > p {
	color: #1d2129;
	font-family: "Merriweather Sans", sans-serif;
	font-size: 1.1rem;
	padding: 0.6rem 0;
}

main section:last-of-type input {
	padding: 0.5rem;
	border-radius: 5px;
	border: 0.5px solid #bdc7d8;
	color: #000000;
	font-family: "Lato", sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

main section:last-of-type input[type="text"] {
	display: inline-block;
	margin-bottom: 1rem;
	max-width: 47.5%;
}

main section:last-of-type input[type="text"]:first-of-type {
	margin-right: 0.95rem;
}

main section:last-of-type input[type="email"],
main section:last-of-type input[type="password"] {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}

main input::placeholder {
	color: #6e6868;
	font-weight: 600;
}

main section:last-of-type form p {
	color: #90949c;
	font-family: "Merriweather Sans", sans-serif;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
	font-weight: 600;
}

main i {
	font-size: 0.9rem;
	color: #746f6f;
	padding-left: 0.5rem;
	vertical-align: super;
}

main section:last-of-type label {
	font-family: "Lato", sans-serif;
	font-weight: bold;
	color: #1b1a1a;
	font-size: 1.05rem;
	padding-left: 1.5rem;
}

main section:last-of-type div {
	margin: 1rem 0;
	font-family: "Lato", sans-serif;
	color: grey;
}

main section:last-of-type div p:first-of-type {
	font-size: 0.75rem;
}

main section:last-of-type div a {
	color: #4e4ea7;
}
main section:last-of-type div button {
	background-color: #69a74e;
	padding: 10px 0;
	color: #ffffff;
	border: 1px outset rgb(54, 82, 45);
	border-radius: 5px;
	font-family: "Merriweather Sans", sans-serif;
	font-size: 1rem;
	width: 27%;
	font-weight: bold;
	margin: 1.2rem 0 1.5rem;
}

main section:last-of-type div p:last-of-type {
	font-size: 0.9rem;
	font-weight: bold;
	margin: 2rem 0;
}

/* footer */
footer {
	grid-area: footer;
	padding: 1.5rem 0;
}

footer::after {
	content: "facebook \00A9  2020";
	color: #333333;
	font-size: 0.8rem;
	font-family: "Merriweather Sans", sans-serif;
	width: 65%;
	display: block;
	margin: 0.8rem auto 0;
}

footer section {
	width: 65%;
	margin: 0 auto;
}

footer section:first-of-type {
	border-bottom: 1px solid #bdc7d8;
	padding-bottom: 0.65rem;
}

footer section a {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 0.7rem;
	color: #385898;
	padding-right: 1.1rem;
}

footer section:first-of-type a:first-of-type {
	color: grey;
}

footer i {
	color: grey;
	background-color: #ebedf0;
	padding: 0.2rem 0.5rem;
	border: 1px solid #bdc7d8;
}

footer section:nth-of-type(2) {
	padding: 0.5rem 0;
}

/* responsiveness */
@media (max-width: 1330.9px) and (min-width: 1200px) {
	header form {
		justify-self: left;
		margin-left: 23rem;
	}

	header label input {
		width: 90%;
	}

	header form label {
		width: 27.5%;
	}

	main section:last-of-type form {
		max-width: 80.5%;
		margin-right: 0;
	}

	main section:last-of-type input[type="text"] {
		max-width: 43%;
	}

	main section:last-of-type input[type="email"],
	main section:last-of-type input[type="password"] {
		width: 90%;
	}

	footer::after {
		width: 85%;
	}

	footer section {
		width: 85%;
	}
}

@media (max-width: 1199.9px) and (min-width: 1001px) {
	header form {
		margin-left: 23rem;
	}

	header label input {
		width: 90%;
	}

	header form label {
		width: 27.5%;
	}

	main section:last-of-type input[type="text"] {
		max-width: 47.5%;
	}

	main section:last-of-type {
		justify-self: right;
	}

	main section:last-of-type form {
		max-width: 90%;
	}

	footer::after {
		width: 90%;
	}

	footer section {
		width: 90%;
	}
}

@media screen and (max-width: 1000.9px) {
	header {
		padding-left: 0;
	}
	h1 {
		justify-self: left;
	}

	header form {
		justify-self: right;
		margin-left: 30rem;
	}

	header button {
		width: 15%;
	}

	main section:last-of-type {
		margin-left: 8rem;
		justify-content: right;
	}

	main section:last-of-type input[type="text"] {
		max-width: 47.3%;
	}

	main section:last-of-type form {
		max-width: 100%;
	}

	main section:first-of-type {
		height: auto;
		min-width: 400px;
	}

	main section:last-of-type div button {
		width: 40%;
	}

	footer::after {
		width: 100%;
	}

	footer section {
		width: 100%;
		margin: 0;
	}
}
